// compass mixins
@import "compass/css3";

// "wpcm" styles
// main styles
.wpcm-container {
    margin-bottom: 1em;
    margin-top: 1em;

    &-block {
        margin-bottom: 1em;

        &-columns {
            @media screen and (min-width: 1280px) {
                @include justify-content(space-between);
                @include align-items(center);
                @include flex-wrap(wrap);
                @include display-flex;
            }

            &-item {
                margin-bottom: 1em;
                box-sizing: border-box;

                @media screen and (min-width: 1280px) {
                    &__img {
                        @include flex-basis(100%);
                    }

                    &__button {
                        @include flex-basis(50%);
                    }

                    &:nth-child(2) {
                        padding-right: 1em;
                    }

                    &:last-child {
                        padding-left: 1em;
                    }
                }
            }
        }

        &-description {
            margin-bottom: 1em;
        }

        &-error {
            margin-bottom: 1em;
            color: #c40000;
        }
    }

    &-preview {
        background-color: #f7f7f7;
        border-radius: 3px;
        box-shadow: 0 1px 0 #cccccc;
        max-height: 500px;
        overflow: hidden;
        border: 1px solid #cccccc;

        img {
            display: block;
            height: auto;
            width: 100%;
        }
    }
}

// styles for edit page
.form-table {
    .wpcm-container {
        &-block {
            &-columns {
                @media screen and (min-width: 1280px) {
                    @include flex-wrap(nowrap);
                }

                &-item {
                    @media screen and (min-width: 1280px) {
                        &__img {
                            @include flex-basis(33.333%);
                        }

                        &__button {
                            @include flex-basis(33.333%);
                        }

                        &:nth-child(2) {
                            padding-left: 1em;
                        }
                    }
                }
            }
        }
    }
}