.wpcm-container {
  margin-bottom: 1em;
  margin-top: 1em;
}
.wpcm-container-block {
  margin-bottom: 1em;
}
@media screen and (min-width: 1280px) {
  .wpcm-container-block-columns {
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -webkit-flex;
    display: flex;
  }
}
.wpcm-container-block-columns-item {
  margin-bottom: 1em;
  box-sizing: border-box;
}
@media screen and (min-width: 1280px) {
  .wpcm-container-block-columns-item__img {
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
  }
  .wpcm-container-block-columns-item__button {
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
  }
  .wpcm-container-block-columns-item:nth-child(2) {
    padding-right: 1em;
  }
  .wpcm-container-block-columns-item:last-child {
    padding-left: 1em;
  }
}
.wpcm-container-block-description {
  margin-bottom: 1em;
}
.wpcm-container-block-error {
  margin-bottom: 1em;
  color: #c40000;
}
.wpcm-container-preview {
  background-color: #f7f7f7;
  border-radius: 3px;
  box-shadow: 0 1px 0 #cccccc;
  max-height: 500px;
  overflow: hidden;
  border: 1px solid #cccccc;
}
.wpcm-container-preview img {
  display: block;
  height: auto;
  width: 100%;
}

@media screen and (min-width: 1280px) {
  .form-table .wpcm-container-block-columns {
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 1280px) {
  .form-table .wpcm-container-block-columns-item__img {
    -webkit-flex-basis: 33.333%;
    flex-basis: 33.333%;
  }
  .form-table .wpcm-container-block-columns-item__button {
    -webkit-flex-basis: 33.333%;
    flex-basis: 33.333%;
  }
  .form-table .wpcm-container-block-columns-item:nth-child(2) {
    padding-left: 1em;
  }
}

/*# sourceMappingURL=style.css.map */
